<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/69fddada70.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/croppedlogo">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Music Recommendation</title>
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <main>
        <!-- Navigation Bar -->
        <header>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#instruction">How To Get Songs</a></li>
                    <li><a href="#">Workflow</a></li>
                    <li><a href="https://gialiubc.github.io">Contact</a></li>
                </ul>              
            </nav> 
            <div class="left-title">
                <h1>Don't Stop The Beat</h1>
            </div>
        </header>

    <!-- Landing Page -->
        <div class="showcase">
            <div class="showcase-content">             
                <section class="sound-wave-img">
                    <img src="../static/img/Sound-Wave.png" alt="sound_wave" height="200px" width="1200px" >
                </section>

                <section class="search"> 
                    <form id="playlist-form" method="post" action="/model_recommendation">
                        <label for="track1"></label>
                        <input type="text" id="track1" placeholder="Copy your album link here" name="track1" required>
                        <section class="button-section">
                            <button id="explore-button" type="submit">Recommend More Songs</button>
                        </section>
                    </form>
                    <section class="button-section">
                        <button id="create-playlist-button">Create Playlist on Spotify</button>
                    </section>
                </section> 

            </div>
        </div>

    <!-- landing page section ends-->

    <!-- Steps to Follow Container Starts -->
    <div class="instruction-container">
        <div class="left-box">
            <h2 id="instruction">How To Get Album Link </h2>
            <p></p>
            <img src="../static/img/screenshot.png" alt="screenshot" height="800px">
        </div>
        <div class="steps">
            <p>Step 1 : Pull up your Spotify Playlist</p>
            <p>Step 2 : Click on the three dots next to the download button</p>
            <p>Step 3 : Click on "Share" and then click on "Copy link to playlist"</p>
        </div>
    </div>

    </main>

        <!-- Footer Section -->
        <footer>
            <ul class="menu">
                <li>
                    <p><i class="fa-solid fa-headphones-simple"></i> <br>Dazzled by the music</p>
                </li>
            </ul>
        </footer>
        <!-- Footer Section ends -->

    <script src="/static/js/main.js"></script>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</body>
</html>